regression/jupyter_notebooks/.DS_Store
.DS_Store
regression/jupyter_notebooks/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/.DS_Store/*.*
regression/jupyter_notebooks/01_read_csv/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/01_house_price_prediction/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/03_beer_prediction/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/01_house_price_prediction/.ipynb_checkpoints/*.*
concepts/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/.DS_Store/*
regression/jupyter_notebooks/02_kaggle/.ipynb_checkpoints/*.*
regression/jupyter_notebooks/02_kaggle/playseries/.ipynb_checkpoints/playfulseries_pred_model-checkpoint.ipynb
~
